<mat-nav-list>
	<div class="menu-minimize">
		<mat-icon class="menu-minimize" (click)="onClose()" mat-list-icon
			>menu
			<!-- <img src="../../../assets/close button.svg" alt="Users" /> -->
		</mat-icon>
	</div>
	<!-- LOGO -->
	<div class="logo">
		<!-- <img src="../assets/stockbox-logo-desktop-menu.svg" alt="Users" /> -->
	</div>

	<div class="menu-layout">
		<div>
			<a mat-list-item routerLink="viewer">
				<mat-icon mat-list-icon
					>admin_panel_settings
					<!-- <img src="../../../assets/valuation_icon.svg" alt="Users" /> -->
				</mat-icon>
				Viewer
			</a>
			<a mat-list-item routerLink="user">
				<mat-icon mat-list-icon
					>admin_panel_settings
					<!-- <img src="../../../assets/shop_icon.svg" alt="Users" /> -->
				</mat-icon>
				User
			</a>
			<a mat-list-item routerLink="admin">
				<mat-icon mat-list-icon
					>admin_panel_settings
					<!-- <img src="../../../assets/users_icon.svg" alt="Users" /> -->
				</mat-icon>
				Admin
			</a>
		</div>
		<div>
			<a mat-list-item (click)="logout()">
				<mat-icon mat-list-icon
					>admin_panel_settings
					<!-- <img src="../../../assets/users_icon.svg" alt="Users" /> -->
				</mat-icon>
				Logout
			</a>
		</div>
	</div>
</mat-nav-list>
