<div class="auth-container">
	<!-- REGISTER -->
	<mat-card class="reg-card">
		<h1 class="center-text">Manage My Website</h1>
		<h2 class="center-text">Welcome to your website</h2>
		<form [formGroup]="regForm" (ngSubmit)="onSubmitRegister()">
			<mat-form-field appearance="standard">
				<mat-label>Name</mat-label>
				<input matInput type="text" formControlName="name" />
				<mat-error *ngIf="regForm.get('name').hasError('required')">Field is required</mat-error>
			</mat-form-field>
			<mat-form-field appearance="standard">
				<mat-label>Email</mat-label>
				<input matInput type="text" formControlName="email" />
				<mat-error *ngIf="regForm.get('email').hasError('required')">Field is required</mat-error>
				<mat-error *ngIf="regForm.get('email').hasError('email')">Invalid format</mat-error>
			</mat-form-field>
			<mat-form-field appearance="standard">
				<mat-label>Password</mat-label>
				<input [type]="hidePassword ? 'password' : 'text'" formControlName="password" type="password" matInput />
				<mat-icon color="primary" matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
				<mat-error *ngIf="regForm.hasError">Password is too weak (1 upper, 1 lower, 1 special char)</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>User avatar</mat-label>
				<input disabled="true" matInput placeholder="Placeholder" />
				<mat-icon style="cursor: pointer" (click)="avatar.click()" matSuffix>add</mat-icon>
			</mat-form-field>
			<input style="visibility: hidden" #avatar (change)="addAvatar($event)" type="file" accept="image/jpeg, image/jpg" />
			<div *ngIf="imageSelected" class="avatar-container">
				<img [src]="viewImage" width="100%" alt="" />
			</div>

			<button color="primary" [disabled]="regForm.invalid" class="mt-1" mat-raised-button>Register</button>
			<p routerLink="/" class="center-text mt-1 pointer">Back to login</p>
		</form>
	</mat-card>
</div>
