// Primary color
$md-primary: (
	50: #eaeff1,
	100: #cad8dc,
	200: #a6bec5,
	300: #82a3ad,
	400: #68909c,
	500: #4d7c8a,
	600: #467482,
	700: #3d6977,
	800: #345f6d,
	900: #254c5a,
	A100: #9fe5ff,
	A200: #6cd7ff,
	A400: #39c9ff,
	A700: #1fc2ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
