.image-model-container {
	.heading {
		text-align: center;
	}
	.product-image-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.product-image {
			width: 150px;
			height: 150px;
			border-radius: 7px;
			overflow: hidden;
			margin: 10px;
			position: relative;
			display: inline-block;
			.delete-icon {
				position: absolute;
				top: 3px;
				right: 3px;
				color: red;
				cursor: pointer;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	mat-form-field {
		width: 100%;
	}
	.btn-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 2rem;
	}
}
