<div class="table-container">
	<div class="add-btn">
		<mat-icon (click)="createUser()">add</mat-icon>
	</div>

	<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
	<table mat-table [dataSource]="dataSource">
		<!-- Profile Column -->
		<ng-container matColumnDef="profile">
			<th mat-header-cell *matHeaderCellDef>Avatar</th>
			<td mat-cell *matCellDef="let user">
				<div class="avatar-wrapper">
					<img [src]="apiUrl + user.avatar" alt="Avatar" />
				</div>
			</td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let user">{{ user.name }}</td>
		</ng-container>

		<!-- Email Column -->
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef>Email</th>
			<td mat-cell *matCellDef="let user">{{ user.email }}</td>
		</ng-container>

		<!-- Created at Column -->
		<ng-container matColumnDef="created_at">
			<th mat-header-cell *matHeaderCellDef>Created at</th>
			<td mat-cell *matCellDef="let user">{{ user.created_at | date : 'medium' }}</td>
		</ng-container>

		<!-- Roles Column -->
		<ng-container matColumnDef="roles">
			<th mat-header-cell *matHeaderCellDef>Roles</th>
			<td mat-cell *matCellDef="let user">
				<ng-container *ngFor="let role of user.roles; let last = index">{{ role.name | titlecase }}<ng-container *ngIf="!isLast(last, user.roles)">, </ng-container></ng-container>
			</td>
		</ng-container>

		<!-- Active Column -->
		<ng-container matColumnDef="active">
			<th mat-header-cell *matHeaderCellDef>Active</th>
			<td mat-cell *matCellDef="let user" [ngClass]="{'active': user.active, 'inactive': !user.active}">
				{{ user.active ? 'Active' : 'Inactive' }}
			</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef class="header-align-right">Actions</th>
			<td mat-cell *matCellDef="let user" class="icons-align-right">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="editUser(user)">
						<mat-icon>edit</mat-icon>
						<span>Edit User</span>
					</button>
					<button *ngIf="user.active" mat-menu-item (click)="deleteUser(user)">
						<mat-icon>delete_forever</mat-icon>
						<span>Delete User</span>
					</button>
					<button *ngIf="!user.active" mat-menu-item (click)="restoreUser(user)">
						<mat-icon>settings_backup_restore</mat-icon>
						<span>Restore User</span>
					</button>
				</mat-menu>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>
	<mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons> </mat-paginator>
</div>
