<div class="auth-container">
	<!-- FORGOT PASSWORD -->
	<mat-card class="reg-card">
		<h1 class="center-text">Forgot your password</h1>
		<h2 class="center-text">Submit your email</h2>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="standard">
				<mat-label>Email</mat-label>
				<input matInput type="text" formControlName="email" />
				<mat-error *ngIf="form.get('email').hasError('required')">Field is required</mat-error>
				<mat-error *ngIf="form.get('email').hasError('email')">Invalid format</mat-error>
			</mat-form-field>
			<button color="primary" [disabled]="form.invalid" class="mt-1" mat-raised-button>Submit</button>
			<p routerLink="/" class="center-text mt-1 pointer">Back to login</p>
		</form>
	</mat-card>
</div>
